body{
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding: 50px;
    color: #006980;
    font-size: 90px;
    text-align: center;
}

p{
    font-size: 18px;
    color: #666;
    text-align: center;
}

nav{
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul{
    list-style: none;
    margin: o;
    padding: o;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
}

nav a:hover{
    color: #ccc;
}

footer{
    color: blue;
    text-align: center;
}

